.about_container{
   
    background-color:#0064B4 ;
    margin: 100px 30px;
    padding: 80px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    
}

#dp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid blanchedalmond;
}

.main-content{
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    margin-left: 30px;
    color:white;
    display: flex;
    flex-direction: column;
   
 
}
.main-content>section>h3{
    font-size: 25px;
    color:white;
    margin-bottom: 20px;
}

.resume_section{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    line-height: 25px;
}
#resume_download{
    background-color:white;
    cursor: pointer;
    color: black;
    padding: 10px 20px;
    border: none;
    border: 2px solid white;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.5s ease all;

}
#resume_download:hover{
    border: 2px solid white;
    background-color:#0064B4;
    color: white;
}
@media only screen and (min-width: 375px) and (max-width: 812px) {

    .about_container{
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 10px auto;
    }
    .main-content{
        margin-top: 20px;
    }
    .resume_section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #resume_download{
        margin-top: 30px;
    }
    .resume_section>div>h3{
        margin-bottom: 10px;
    }
    .my_info{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }
}