*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar{
  background-color: aqua;
}
.navbar>ul{
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}
.navbar>ul>li{
  margin-left: 20px;
}
.link-list>li>a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.row_banner{
  background-color:black;
  display: flex;
  height: 94vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.banner-text{
  color: white;
}
.banner-text>p{
  text-align: center;
  font-size: 12px;
}
.connect{
  margin-top: 30px;
}
.connect>i{
  color: white;
  margin-left: 20px;
}
.nav-about{
  position: absolute;
  top: 90%;
}
#top_btn::before{
  content: ">"
}
#top_btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  transform: rotate(90deg);
  cursor: pointer;
}