* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.5s ease all;
}
.link-list {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.navbar > ul > li {
  margin-left: 20px;
}
.link-list > li > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.row_banner {
  background: url("./Components/header-background.jpeg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.banner-text {
  color: white;

}
.banner-text > h1 {
  font-size: 60px;
}
.banner-text > p {
  text-align: center;
  font-size: 12px;
}
.connect {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.connect > a {
  color: white;
  margin-left: 20px;
}
.nav-about {
  position: absolute;
  top: 90%;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dark {
  background-color: black;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
 
  .banner-text > h1 {
    text-align: center;
    font-size: 30px;
  }
  .connect_me{
    font-size: 10px;
  }
  .creator{
    color: white;
    font-weight: 800;
  }
}
